<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Disposition control settings</title>
        <title lang="de-DE">Dispositionskontrolle Einstellungen</title>
        
        <input-field>
            <name>notificationRecipients</name>
            <label>Name and Mail of recipients of stock notifications</label>
            <label lang="de-DE">Name und Mailadresse der Empfänger von Bestandsmeldungen</label>          
            <placeholder>John Doe;john.doe@john.doe</placeholder>
            <placeholder lang="de-DE">Max Mustermann;mustermann@muster.man</placeholder>
            <helpText>Input as many recipients as needed in valid formation: NAME DELIMITER(;) MAIL</helpText>
            <helpText lang="de-DE">Geben Sie beliebig viele Empfänger in valider Form ein: NAME TRENNZEICHEN(;) MAILADRESSE.</helpText>
        </input-field>
        <input-field>
            <name>notificationRecipientsEscalated</name>
            <label>Name and Mail of recipients of stock notifications for escalation</label>
            <label lang="de-DE">Name und Mailadresse der Empfänger von Bestandsmeldungen zu Eskalation</label>          
            <placeholder>John Doe;john.doe@john.doe</placeholder>
            <placeholder lang="de-DE">Max Mustermann;mustermann@muster.man</placeholder>
            <helpText>Input as many recipients as needed in valid formation: NAME DELIMITER(;) MAIL</helpText>
            <helpText lang="de-DE">Geben Sie beliebig viele Empfänger in valider Form ein: NAME TRENNZEICHEN(;) MAILADRESSE.</helpText>
        </input-field>
    </card>
</config>